*{
    margin: 0;
    padding: 0;
}
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
.bold{
    font-weight: 600;
}
.centered{
    display: flex;
    align-items: center;
    justify-content: center;

}
.container{
    display: none
}
.col{
    display: flex;
    flex-direction: column ;
}
.borderright{
    border-right: 1px solid black;
}
header ul{
    display: flex;
    width: 38rem;
    justify-content: space-between;
}
header ul li{
    list-style: none;
}
header a{
    text-decoration: none;
    color: black;
    font-family: 'Poppins', sans-serif;
    font-size: 1.4rem;
}
header .fa-bars{
    display: none;
}
.liwidth{
    width: 100px
}
header a:hover{
    font-weight: 600;
}
.pointer{
    cursor: pointer;
}
.blackbtn{
    width: 110px;
    height: 50px;
    background: black;
    color: white;
    border: none;
    font-family: 'Poppins', sans-serif;
    font-weight: bolder;
    font-size: 15px;

}
.blackbtn:hover{
    width: 110px;
    height: 50px;
    border: 2px solid black;
    background: transparent;
    border: 2px solid;
    color: black;
    cursor: pointer;

}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 60px 0 60px;
    height: 10vh;
}
.section1{
    position: relative;
    margin-top: 2.5rem;
    height: 90vh;
}
.relaxbox{
    position: absolute;
    top: 0;
    width: 500px;
    height: 380px;
    background: white;
    color: black;
    display: flex;
    flex-direction: column;
    margin-left: 68px;
    justify-content: end;
    padding-top: 30px;
}
.relaxbox span{
    font-size: 4rem;
    font-weight: bold;
    margin-bottom: 1.5rem;
    margin-left: 2rem;
} 
.relaxbox button{
    margin-left: 2rem;
}
.pool{
    position: absolute;
    right: 0;
    bottom: 0;
    background-image: url(/ressources/images/Logo.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    width: 70vw;
    display: flex;
    flex-direction: column;
    justify-content: end;
}
.booking{
    width: 630px;
    height: 110px;
    background: white;
    opacity: 89%;
    border: 1px solid #b6b6b6;
    display: flex;
}
.datecontent{
    display: flex;
    flex-direction: column;
    margin-top: 4px;
    margin-left: 8px;
    font-family: 'Poppins', sans-serif;
    position: relative;
    
}
.pos{
    position: absolute;
    top:50%;
    font-size: 14px;

}

.check-in label{
    display: flex;
    width: 160px;
    height: 40px;
    justify-content: space-between;
}

.check-in label img{
    height: 30px;
    width: 30px;
}
.datecontent input{
    border: 1px solid white;
    cursor: default; 
    outline: none; 
    width: 120px; 

}
.check-in{
    width: 210px;
    height: 110px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.poolbottom{
    display: flex;
}
.search{
    padding: 0 5%;
    background: black;
    color: white;
    border: none;
    font-family: 'Poppins', sans-serif;
    font-weight: bolder;
    font-size: 15px;
}
.search:hover{
    border: 2px solid black;
    background: rgba(255, 255, 255, 0.897);
    color: black;
    cursor: pointer;

}
.section2{
    background: #FBF7F4;
    height: 60vw;
    width: 100vw;
    margin-top: 30vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4rem 0;
}
.mainSecDiv{
    display: flex;
    justify-content: space-between;
    width: 95%;
    height: 100%;
    margin: auto;
}
.mainSecDivLeft{
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.mainSecDiv .mainSecDivLeft .rooom{
    height: 47%;
    width: 100%;
    position: relative;
}
.rooom img{
    height: 100%;
}
.bigsizeroom{
    width: 100%;
    margin-top: 0vw;
}
.bigsizeroom img{
    width: 100%;
}
#hiddenicon{
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.discount{
    position: absolute;
    height: 190px;
    width: 275px;
    background-color: rgba(255, 255, 255, 0.808);
    bottom: 0;
    border-left: 5px solid #E79434;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    
}
.discount span{
    font-family: 'Poppins', sans-serif;
    width: 226px;
}
.discount span strong{
    font-size: 3rem;
}
.mainSecDivRight{
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.facilities{
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}
.facilitiesContent h2{
    font-size: 4.8vw;
}
.facilitiesContent p{
    font-family: 'Poppins', sans-serif;
    font-size: 1.5vw;
    line-height: 3vw;
    margin-bottom: 3.5vw;
}
.facilitiesContent5 h2{
    font-size: 4.2vw;
    margin-bottom: 1rem;  
}
.facilitiesContent5 p{
    font-family: 'Poppins', sans-serif;
    font-size: 1.6vw;
    line-height: 1.6vw;
    margin-bottom: 3vw;
}
.itemandbtn{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.facilitiesbtn button{
    height: 4vw;
    width: 100vw;
    background-color: transparent;
    border: 0.1vw solid black;
    font-family: 'Poppins', sans-serif;
    font-size: 1vw;
    
    display: flex;
    align-items: center;
    justify-content: center;
}
.facilitiesbtn button:hover{
    background: black;
    color: white;
    border: none;
    font-family: 'Poppins', sans-serif;
    font-weight: bolder;
    cursor: pointer;
    font-size: 1vw;
}
.facilitiesItems{
    display: flex;
    justify-content: space-between;
    width: 80%;
}
.tvled{
    width: 25%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.tvled span{
    margin-top: 0vw;
    font-family: 'Poppins', sans-serif;
    font-size: 80%;

}
.circle{
    height: 7vw;
    width: 7vw;
    border-radius: 50%;
    border: 0.2vw solid #E79434;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 1vw;
}
.hiddenreverse{
    display: none;
}
.rotate45deg{
    transform: rotate(45deg);
}
.circle img{
    height: 4vw;
    width: 4vw;
}
.tvled{
    font-size: 2vw;
}
.facilitiesbtn{
    display: flex;
    flex-direction: column;
    justify-content: end;
    width: 100%;
}
.facilitiesbtn button{
    width: 25%;
    font-size: 1.5vw;
}
.facilitiesbtn1 button{
    width: fit-content;
    font-size: 1.5vw;
    padding: 0 1vw;
    margin-left: 4vw;
}
.centered p{
    text-align: center;
}
.section3{
    margin-top: 20vh ;
    margin-bottom: 40vh;
}
.hiddenreverse{
    display: none;
}
.rectangle{
    height: 140px;
    width: 100%;
    border: 2px solid black;
    font-family: 'Poppins', sans-serif;
    font-size: 1.3rem;
    position: relative;

}
.rectangle img{
    height: 53px;
    width: 53px;
    margin-bottom: 1rem;
}
.o-restaurant{
    background: #000;
    color: #E79434;
}
.services{
    display: flex;
    justify-content: space-between;
    width: 95%;
    margin: auto;
    margin-top: 2rem;
}
.restaurant{
    width: 95%;
    margin: auto;
    margin-top: 3rem;
    display: flex;
    justify-content: space-between;
}
.restaurant img{
    width: 55%;
}
.specificities{
    width: 43%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.poppinstitle{
    font-family: 'Poppins', sans-serif;
    font-size: 2rem;
}
.lorem{
    display: flex;
    width: 90%;
    justify-content: space-between;
    font-family: 'Poppins', sans-serif;
    margin-top: 5%;
}
.lorem ul{
    list-style: none;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 1.1rem;
}
.lorem ul li::before{
    content: "";
    height: 8px;
    border-radius: 50%;
    background-color: #E79434;
    font-weight: bolder;
    display: inline-block;
    width: 8px;
    margin-right: 10px;
}
.btnbook{
    display: flex;
    flex-direction: column;
    justify-content: end;
    height: 28%;
    margin-top: 2rem;
}
.rectangle2{
    height: 45px;
    width: 100%;
    border: 2px solid black;
    font-family: 'Poppins', sans-serif;
    font-size: 1.3rem;
}
.services2{
    display: flex;
    justify-content: space-between;
    width: 62%;
    margin: auto;
    margin-top: 2rem;
}
.o-restaurant2{
    background: rgba(0, 0, 0, 0);
    color: #000000;
}
.introrooms{
    margin-top: 1.6rem;
    font-family: 'Poppins', sans-serif;
    font-size: 1.2rem;
    width: 350px;
    line-height: 2rem;
    color: rgba(0, 0, 0, 0.658);
}
.introrooms p{
    margin-bottom: 1.5rem;
}

.offeer{
    height: 500px;
    width: 32%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.intro p{
    width: 400px;
}
.roomsoffers{
    display: flex;
    width: 95%;
    justify-content: space-between;
    margin: auto;
    margin-top: 4rem;
}
.section5{
    background-color: #F6F5F1;
    width: 100%;
    min-height: 100vh;
    margin-top: 17rem;
}
.mainsecdiv2{
    display: flex;
    width: 95%;
    justify-content: space-between;
    margin: auto;
}
.Leftsside{
    width: 385px;
    height: 254px;
    position: relative;
    margin-top: 5rem;
    display: block;
    
}
.girlrousse{
    position: absolute;
    right: 0%;
    top: 0%;
}
.jacketman{
    position: absolute;
    left: 0%;
    bottom: -11%;
}
.bald{
    position: absolute;
    left: -91%;
    top: 42%;
}
.Rightsside{
    margin-top: 3rem;
}
.facilitiesContent2 h2{
    font-size: 3.9rem;
    margin-bottom: 7.5rem;
}
.facilitiesContent2 p{
    font-family: 'Poppins', sans-serif;
    font-size: 1.2rem;
    
}
.introrooms2{
    font-family: 'Poppins', sans-serif;
    font-size: 1.2rem;
 
    line-height: 2rem;
    color: rgba(0, 0, 0, 0.658);
}
.introrooms2 p{
    margin-bottom: 1.5rem;
    width: 480px;
    line-height: 2.2rem;
    font-size: 1.3rem;
}
.name{
    font-family: 'Poppins', sans-serif;
    font-size: 1.3rem;
}
.bottomavis{
    display: flex;
    justify-content: space-between;
    width: 83%;
}
.bottomavis2{
    display: flex;
    justify-content: space-between;
}
.bottomavis2 img{
    height: 17px;
    width: 17px;
    margin-right: 7px;
    margin-top: 32px;
}
.leftswitch{
    height: 22px;
    width: 33px;
    border: 2px solid rgba(0, 0, 0, 0.322);
    font-family: 'Poppins', sans-serif;
    font-size: 1.3rem;
}
.rightswitch{
    height: 22px;
    width: 33px;
    border: 2px solid rgba(0, 0, 0, 0.322);
    font-family: 'Poppins', sans-serif;
    font-size: 1.3rem;
    background-color: #000;
    margin-left: 7px;
}
.switch{
    margin-top: 20px;
    display: flex;
    justify-content: end;
    width: 81%;
}
.rightswitch img{
    height: 25px;
    width: 38px;
}
.leftswitch img{
    height: 25px;
    width: 38px;
    transform: rotate(180deg);
}
.blackside{
    width: 50%;
    min-height: 350px;
    background: #000;
    padding-left: 7rem;
    padding-top: 6rem;
}
.circle2{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border: 3px solid #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
}
.circle2 img{
    height: 25px;
    width: 25px;
}
.circle3{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: #ffffff;
    border: 3px solid #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
}
.circle3 img{
    height: 25px;
    width: 25px;
}
.smedias{
    width: 250px;
    display: flex;
    justify-content: space-between;
}
.hiddenbtn{
    display: none;
}
.links{
    display: flex;
    color: #a1a1a1;
    list-style-type: none;
    width: 550px;
    justify-content: space-between;
    margin-top: 3rem;
}
.links ul{
    list-style-type: none;
    line-height: 3rem;
    font-size: 1.1rem;
    font-family: 'Poppins', sans-serif;
    

}
.links span{
    font-weight: bold;
    color: #ffffff;
}
footer{
    background-color: #F6F5F1 ;
    display: flex;
}
.transpsidefooter{
    padding-left: 4rem;
    width: 50%;
}
.facilitiesContent3 h2{
    font-size: 3.9rem;
    width: 100%;
    text-align: center;
    margin-bottom: 1rem;
}
.facilitiesContent3 p{
    font-family: 'Poppins', sans-serif;
    font-size: 1.2rem;
}
.form{
    display: flex;
    justify-content: space-between;
    padding-right: 75px;
    margin-top: 1rem;
}
.rectangle3{
    height: 45px;
    width: 48%;
    border: 2px solid black;
    font-family: 'Poppins', sans-serif;
    font-size: 1.1rem;
}
.rectangle3 input{
    width: 95%;
    height: 95%;
    background-color: transparent;
    border: none;
    outline: none;
    text-align: center;
    font-size: 1.1rem;
    font-family: 'Poppins', sans-serif;
}
.rectangle3 input::placeholder{
    font-size: 1.1rem;
    font-family: 'Poppins', sans-serif;
    color: black;
}
.mt-2{
    margin-top: 2rem;
}
.gp1{
    display: block;
    right: 2%;
    top: 715%;
    position: absolute;
    width: 210px;
    height: 150px;
    transform: rotate(-30deg);
    border-radius: 50px;
    opacity: .10;
    filter: blur(38px);
    background: rgb(255,248,90);
    background: radial-gradient( rgb(90, 255, 255) 0%, rgb(112, 198, 224) 80%, rgba(255,2,169,0.9547991071428571) 45%);
}
.gp2{
    right: 2%;
    top: 450%;
    position: absolute;
    width: 250px;
    height: 150px;
    transform: rotate(-30deg);
    border-radius: 50px;
    opacity: .10;
    filter: blur(38px);
    background: rgb(255,248,90);
    background: radial-gradient( rgb(90, 255, 255) 0%, rgb(112, 198, 224) 80%, rgba(255,2,169,0.9547991071428571) 45%);
}
.gp3{
    left: 0%;
    top: 480%;
    position: absolute;
    width: 190px;
    height: 110px;
    transform: rotate(-45deg);
    border-radius: 50px;
    opacity: .25;
    filter: blur(38px);
    background: rgb(255,248,90);
    background: radial-gradient( rgb(90, 255, 255) 0%, rgb(112, 198, 224) 80%, rgba(255,2,169,0.9547991071428571) 45%);
}
.gp4{
    left: 2%;
    top: 315%;
    position: absolute;
    width: 250px;
    height: 150px;
    transform: rotate(-30deg);
    border-radius: 50px;
    opacity: .10;
    filter: blur(38px);
    background: rgb(255,248,90);
    background: radial-gradient( rgb(90, 255, 255) 0%, rgb(112, 198, 224) 80%, rgba(255,2,169,0.9547991071428571) 45%);
}
@media screen and (min-width: 501px) and (max-width: 1330px){
    *{
        margin: 0;
        padding: 0;
    }
    @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
    .bold{
        font-weight: 600;
    }
    .centered{
        display: flex;
        align-items: center;
        justify-content: center;
    
    }
    .container{
        display: none
    }
    .col{
        display: flex;
        flex-direction: column ;
    }
    .borderright{
        border-right: 1px solid black;
    }
    header ul{
        display: flex;
        width: 60%;
        justify-content: space-between;
    }
    header ul li{
        list-style: none;
    }
    header a{
        text-decoration: none;
        color: black;
        font-family: 'Poppins', sans-serif;
        font-size: 2vw;
    }
    header .fa-bars{
        display: none;
    }
    .liwidth{
        width: 100px;
        margin-left: 0.5rem;
    }
    header a:hover{
        font-weight: 600;
    }
    .pointer{
        cursor: pointer;
    }
    .blackbtn{
        width: 100%;
        padding: 0 1vw;
        height: 5vw;
        background: black;
        border: 2px solid black;
        color: white;
        font-family: 'Poppins', sans-serif;
        font-weight: bolder;
        font-size: 2vw;
    
    }
    .blackbtn:hover{
        width: 100%;
        height: 50px;
        border: 2px solid black;
        background: transparent;
        border: 2px solid;
        color: black;
        cursor: pointer;
    
    }
    .blackbtn1{
        width: 10vw;
        height: 50px;
        background: black;
        border: 2px solid black;
        color: white;
        font-family: 'Poppins', sans-serif;
        font-weight: bolder;
        font-size: 2vw;
    
    }
    .blackbtn1:hover{
        width: 10vw;
        height: 50px;
        border: 2px solid black;
        background: transparent;
        border: 2px solid;
        color: black;
        cursor: pointer;
    
    }
    header{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: auto;
        height: fit-content;
        width: 95vw;
    }
    .section1{
        position: relative;
        margin-top: 2.5rem;
        height: 50vw;
        width: 100vw;
    }
    .relaxbox{
        position: absolute;
        top: -2px;
        left: 5%;
        width: 40vw;
        height: 30vw;
        background: white;
        color: black;
        display: flex;
        flex-direction: column;
        margin-left: 0px;
        justify-content: end;
        padding-top: 31px;
        padding-right: 4vw;
        padding-left: 0vw;

    }
    .relaxbox span{
        font-size: 5.4vw;
        font-weight: bold;
        margin-bottom: 1.5rem;
        margin-left: 2rem;
    } 
    .relaxbox button{
        margin-left: 2rem;
        padding: 1vw 7vw;
        height: fit-content;

    }
    .pool{
        position: absolute;
        right: 0;
        top: 0;
        background-image: url(/ressources/images/Logo.png);
        background-size: cover;
        background-repeat: no-repeat;
        height: 100%;
        width: 70%;
        display: flex;
        flex-direction: column;
        justify-content: end;
    }
    .booking{
        width: 65%;
        height: 17%;
        background: white;
        opacity: 89%;
        border: 1px solid #b6b6b6;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .datecontent{
        display: flex;
        flex-direction: column;
        margin-top: 4px;
        margin-left: 8px;
        font-family: 'Poppins', sans-serif;
        position: relative;
        
    }
    .pos{
        position: absolute;
        top: 1.5vw;
        font-size: 14px;
    
    }
    #ddate, #adate, #numberOfPeople{
        font-size: 1.2vw;
    }
    .check-in label{
        display: flex;
        width: 100%;
        height: 4vw;
        justify-content: space-between;
        font-size: 1.3vw;
        padding-left: 0.6rem;
        align-items: center;
    }
    
    .check-in label img{
        height: 4vw;
        width: 4vw;
    }
    .datecontent input{
        border: 1px solid white;
        cursor: default; 
        outline: none; 
        width: 70%; 
        font-size: 1.5vw;
    
    }
    .check-in{
        width: 33%;
        height: 110px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .section2{
        background: #FBF7F4;
        height: 60vw;
        width: 100vw;
        margin-top: 30vh;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 4rem 0;
    }
    .mainSecDiv{
        display: flex;
        justify-content: space-between;
        width: 95%;
        height: 100%;
        margin: auto;
    }
    .hiddenreverse{
        display: none;
    }
    .mainSecDivLeft{
        height: 100%;
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .mainSecDiv .mainSecDivLeft .rooom{
        height: 47%;
        width: 100%;
        position: relative;
    }
    .rooom img{
        height: 100%;
    }
    .discount{
        position: absolute;
        height: 43%;
        width: 40%;
        background-color: rgba(255, 255, 255, 0.808);
        bottom: 0;
        border-left: 5px solid #E79434;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        display: none;
    
        
    }
    .discount span{
        font-family: 'Poppins', sans-serif;
        width: 80%;
        line-height: 2vw;
    }
    .discount span strong{
        font-size: 2vw;
    }
    .mainSecDivRight{
        height: 100%;
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .facilities{
        width: 100%;
        height: 40%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    
    }
    .facilitiesContent h2{
        font-size: 5.8vw;
    }
    .facilitiesContent p{
        font-family: 'Poppins', sans-serif;
        font-size: 1.5vw;
        line-height: 3vw;
        margin-bottom: 3.5vw;
    }
    .facilitiesContent5 h2{
        font-size: 4.4vw;
        margin-bottom: 1rem;  
    }
    .facilitiesContent5 p{
        font-family: 'Poppins', sans-serif;
        font-size: 1.6vw;
        line-height: 1.6vw;
        margin-bottom: 0rem;
    }
    .itemandbtn{
        width: 100%;
        display: flex;
        justify-content: space-between;
    }

    .facilitiesbtn button{
        height: 4vw;
        width: 100vw;
        background-color: transparent;
        border: 0.1vw solid black;
        font-family: 'Poppins', sans-serif;
        font-size: 1vw;
        
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .facilitiesbtn button:hover{
        background: black;
        color: white;
        border: none;
        font-family: 'Poppins', sans-serif;
        font-weight: bolder;
        cursor: pointer;
        font-size: 1vw;
    }
    .facilitiesItems{
        display: flex;
        justify-content: space-between;
        width: 80%;
    }
    .tvled{
        width: 25%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .tvled span{
        margin-top: 0vw;
        font-family: 'Poppins', sans-serif;
        font-size: 80%;
    
    }
    .circle{
        height: 7vw;
        width: 7vw;
        border-radius: 50%;
        border: 0.2vw solid #E79434;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 1vw;
    }
    .hiddenreverse{
        display: none;
    }
    .rotate45deg{
        transform: rotate(45deg);
    }
    .circle img{
        height: 4vw;
        width: 4vw;
    }
    .tvled{
        font-size: 2vw;
    }
    .facilitiesbtn{
        display: flex;
        flex-direction: column;
        justify-content: end;
        width: 100%;
    }
    .facilitiesbtn button{
        width: 25%;
        font-size: 1.5vw;
    }
    .facilitiesbtn1 button{
        width: fit-content;
        font-size: 1.5vw;
        padding: 0 1vw;
        margin-left: 4vw;
    }
    .bigsizeroom{
        height: 55%;
        width: 100%;
    }
    .bigsizeroom img{
        height: 100%;
    }
    .section3{
        margin-top: 20vh ;
        margin-bottom: 40vh;
    }
    
    .rectangle{
        height: 10vw;
        width: 100%;
        border: 0.2vw solid black;
        font-family: 'Poppins', sans-serif;
        font-size: 2vw;
    
    }
    .rectangle img{
        height: 4.5vw;
        width: 4.5vw;
        margin-bottom: 1vw;
    }
    .o-restaurant{
        background: #000;
        color: #E79434;
    }
    .services{
        display: flex;
        justify-content: space-between;
        width: 95%;
        margin: auto;
        margin-top: 2rem;
    }
    .restaurant{
        width: 95%;
        margin: auto;
        margin-top: 3rem;
        display: flex;
        justify-content: space-between;
    }
    .restaurant img{
        width: 55%;

        margin-bottom: 0rem;
    }
    .specificities{
        width: 43%;
        height: 100%;
    }
    .poppinstitle{
        font-family: 'Poppins', sans-serif;
        font-size: 2rem;
    }
    .lorem{
        display: flex;
        width: 90%;
        justify-content: space-between;
        font-family: 'Poppins', sans-serif;
        margin-top: 5%;
    }
    .lorem ul{
        list-style: none;
        height: 13vw;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        font-size: 1.5vw;
    }
    .lorem ul li::before{
        content: "";
        height: 8px;
        border-radius: 50%;
        background-color: #E79434;
        font-weight: bolder;
        display: inline-block;
        width: 8px;
        margin-right: 10px;
    }
    .btnbook{
        display: flex;
        flex-direction: column;
        justify-content: end;
        height: 28%;
        margin-top: 2rem;
    }
    .rectangle2{
        height: 4vw;
        width: 100%;
        border: 2px solid black;
        font-family: 'Poppins', sans-serif;
        font-size: 1.5vw;
    }
    .services2{
        display: flex;
        justify-content: space-between;
        width: 62vw;
        margin: auto;
        margin-top: 2rem;
    }
    .o-restaurant2{
        background: rgba(0, 0, 0, 0);
        color: #000000;
    }
    .section4{
        margin-bottom: 6vw;
    }
    .introrooms{
        margin-top: 0rem;
        font-family: 'Poppins', sans-serif;
        font-size: 2vw;
        width: 100%;
        height: 40%;
        line-height: 3vw;
        color: rgba(0, 0, 0, 0.658);
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .introrooms p{
        margin-bottom: 0rem;
    }
    
    .offeer{
        height: 60vw;
        width: 32%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .intro p{
        width: 400px;
    }
    .roomsoffers{
        display: flex;
        width: 95%;
        justify-content: space-between;
        margin: auto;
        margin-top: 4rem;
    }
    .section5{
        background-color: #F6F5F1;
        width: 100%;
        min-height: 0vh;
        margin-top: 0rem;
        height: fit-content;
    }
    .mainsecdiv2{
        display: flex;
        width: 95%;
        justify-content: space-between;
        margin: auto;
        padding: 4vw 0;
    }
    .Leftsside{
        width: 50%;
        height: 254px;
        position: relative;
        margin-top: 5rem;
        display: none;
    }
    .girlrousse{
        position: absolute;
        right: 0%;
        top: 0%;
    }
    .jacketman{
        position: absolute;
        left: 0%;
        bottom: -11%;
    }
    .bald{
        position: absolute;
        left: -91%;
        top: 42%;
    }
    .Rightsside{
        margin-top: 3rem;
        width: fit-content;
    }
    .facilitiesContent2{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: fit-content;
    }
    .facilitiesContent2 h2{
        font-size: 6vw;
        margin-bottom: 5vw;
        width: fit-content;
    }
    .facilitiesContent2 p{
        font-family: 'Poppins', sans-serif;
        font-size: 1.5vw;
        
    }
    .introrooms2{
        font-family: 'Poppins', sans-serif;
        font-size: 1.2rem;
        width: fit-content;
        line-height: 2rem;
        color: rgba(0, 0, 0, 0.658);
    }
    .introrooms2 p{
        margin-bottom: 0vw;
        width: 65%;
        line-height: 3vw;
        font-size: 2vw;
        text-align: center;
        margin: 2vw auto 4vw auto;
    }
    .name{
        font-family: 'Poppins', sans-serif;
        font-size: 1.3rem;
    }
    .bottomavis{
        display: flex;
        justify-content: space-between;
        width: 62%;
    }
    .bottomavis span{
        font-size: 2vw;
    }
    .bottomavis2{
        display: flex;
        justify-content: space-between;
    }
    .bottomavis2 img{
        height: 2vw;
        width: 2vw;
        margin-right: 7px;
        margin-top: 32px;
    }
    .leftswitch{
        height: 2.5vw;
        width: 3vw;
        border: 2px solid rgba(0, 0, 0, 0.322);
        font-family: 'Poppins', sans-serif;
        font-size: 1.3rem;
    }
    .rightswitch{
        height: 2.5vw;
        width: 3vw;
        border: 2px solid rgba(0, 0, 0, 0.322);
        font-family: 'Poppins', sans-serif;
        font-size: 1.3rem;
        background-color: #000;
        margin-left: 7px;
    }
    .switch{
        margin-top: 10vw;
        margin-bottom: 5vw;
        display: flex;
        justify-content: center;
        width: 62%;
    }
    .rightswitch img{
        height: 2.5vw;
        width: 3vw;
    }
    .leftswitch img{
        height: 2.5vw;
        width: 3vw;
        transform: rotate(180deg);
    }
    .blackside{
        width: 47%;
        min-height: 0;
        height: 100%;
        background: #000;
        padding-left: 3vw;
        padding-top: 4vw;
    }
    .circle2{
        height: 6vw;
        width: 6vw;
        border-radius: 50%;
        border: 3px solid #ffffff;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .circle2 img{
        height: 3vw;
        width: 3vw;
    }
    .circle3{
        height: 6vw;
        width: 6vw;
        border-radius: 50%;
        background-color: #ffffff;
        border: 3px solid #ffffff;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .circle3 img{
        height: 3vw;
        width: 3vw;
    }
    .smedias{
        margin-bottom: 2vw;
        width: 50%;
        display: flex;
        justify-content: space-between;
    }
    .hiddenbtn{
        display: none;
    }
  
    .links{
        display: flex;
        color: #a1a1a1;
        list-style-type: none;
        width: 90%;
        justify-content: space-between;
        margin-top: 0rem;
    }
    .links ul{
        list-style-type: none;
        line-height: 4vw;
        font-size: 1.5vw;
        font-family: 'Poppins', sans-serif;
        
    
    }
    .links span{
        font-weight: bold;
        color: #ffffff;
    }
    footer{
        background-color: #F6F5F1 ;
        display: flex;
        height: 30vw;
        justify-content: space-between;
    }
    .transpsidefooter{
        padding-left: 0rem;
        width: 48%;
        height: 100%;
    }
    .facilitiesContent3 h2{
        font-size: 3.9rem;
        width: 100%;
        text-align: center;
        margin-bottom: 1rem;
    }
    .facilitiesContent3 p{
        font-family: 'Poppins', sans-serif;
        font-size: 1.2rem;
    }
    .form{
        display: flex;
        justify-content: flex-start;
        padding-right: 0px;
        margin-top: 1vw;
    }
    .rectangle3{
        height: 4.5vw;
        width: 45%;
        border: 2px solid black;
        font-family: 'Poppins', sans-serif;
        font-size: 1.5vw;
        margin-right: 1vw;
    }
    .rectangle3 input{
        width: 95%;
        height: 95%;
        background-color: transparent;
        border: none;
        outline: none;
        text-align: center;
        font-size: 1.5vw;
        font-family: 'Poppins', sans-serif;
    }
    .rectangle3 input::placeholder{
        font-size: 1.5vw;
        font-family: 'Poppins', sans-serif;
        color: black;
    }
    .mt-2{
        margin-top: 2rem;
    }
    .gp1{
        right: 2%;
        top: 715%;
        position: absolute;
        width: 210px;
        height: 150px;
        transform: rotate(-30deg);
        border-radius: 50px;
        opacity: .10;
        filter: blur(38px);
        display: none;
        background: rgb(255,248,90);
        background: radial-gradient( rgb(90, 255, 255) 0%, rgb(112, 198, 224) 80%, rgba(255,2,169,0.9547991071428571) 45%);
    }
    .gp2{
        right: 2%;
        top: 450%;
        position: absolute;
        width: 250px;
        height: 150px;
        display: none;

        transform: rotate(-30deg);
        border-radius: 50px;
        opacity: .10;
        filter: blur(38px);
        background: rgb(255,248,90);
        background: radial-gradient( rgb(90, 255, 255) 0%, rgb(112, 198, 224) 80%, rgba(255,2,169,0.9547991071428571) 45%);
    }
    .gp3{
        left: 0%;
        top: 480%;
        position: absolute;
        width: 190px;
        display: none;

        height: 110px;
        transform: rotate(-45deg);
        border-radius: 50px;
        opacity: .25;
        filter: blur(38px);
        background: rgb(255,248,90);
        background: radial-gradient( rgb(90, 255, 255) 0%, rgb(112, 198, 224) 80%, rgba(255,2,169,0.9547991071428571) 45%);
    }
    .gp4{
        left: 2%;
        top: 315%;
        position: absolute;
        width: 250px;
        height: 150px;
        display: none;

        transform: rotate(-30deg);
        border-radius: 50px;
        opacity: .10;
        filter: blur(38px);
        background: rgb(255,248,90);
        background: radial-gradient( rgb(90, 255, 255) 0%, rgb(112, 198, 224) 80%, rgba(255,2,169,0.9547991071428571) 45%);
    }
}
@media only screen and (max-width: 500px){
    header ul{
        display: none;
    }
    header{
        width: 100vw;
        height: fit-content;
        margin: 0;
        margin-bottom: 10px;
        
    }
    header .fa-bars{
        display: inline;
        margin-right: 0.4rem;
    }
    header img{
        min-height: 36px;
        width:96px;
    }
    .blackbtn{
        width: 85px;
        height: 26px;
        background: black;
        color: white;
        border: none;
        font-family: 'Poppins', sans-serif;
        font-weight: bolder;
        font-size: 10px;
        margin-bottom: 0%;
        margin-right: 0;
    }
    .blackbtn:hover{
        width: 85px;
        height: 30px;
        border: 2px solid black;
        background: transparent;
        border: 1px solid;
        color: black;
        cursor: pointer;

    }  
    .blackbtn1{
        width: 15vw;
        height: 50px;
        background: black;
        border: 2px solid black;
        color: white;
        font-family: 'Poppins', sans-serif;
        font-weight: bolder;
        font-size: 2vw;
    
    }
    .blackbtn1:hover{
        width: 15vw;
        height: 50px;
        border: 2px solid black;
        background: transparent;
        border: 2px solid;
        color: black;
        cursor: pointer;
    
    }
    .btanandmenu{
        display: flex;
        align-items: center;
    }
    .fa-bars{
        margin-left: 20px;
    }
    .borderright{
        border-right: 0px solid black;
    }
    .liwidth{
        width: 0
    }
    header a:hover{
        font-weight: 600;
    }
    .pointer{
        cursor: pointer;
    }   
    .section1{
        width: 100%;
        position: relative;
        margin-top: 0;
        height: 120vw;
        padding-bottom: 0px;
    }
    .relaxbox{
        position: absolute;
        top: 0;
        width: 35vw;
        height: 35vw;
        background: rgba(255, 255, 255, 0.897);
        color: black;
        display: flex;
        flex-direction: column;
        margin-top: 4%;
        margin-left: 4%;
        justify-content: start;
        padding-top: 0px;
    }
    .relaxbox span{
        font-weight: bold;
        margin-top: 4%;
        margin-left: 5%;
        font-size: 4.8vw;
        line-height: 6vw;
        margin-bottom: 3vw;
    } 
    .relaxbox button{
        margin-left: 2vw;
        padding: 1vw 1vw;
        height: fit-content;
    }
    .pool{
        position: absolute;
        right: 0;
        bottom: 0;
        background-image: url(images/pool.png);
        background-size: contain;
        background-repeat: no-repeat;
        height: 100%;
        width: 100%;

    }
    .booking{
        width: 100%;
        height: fit-content;
        background: transparent;
        opacity: 89%;
        border: 0px solid #b6b6b6;
        display: flex;
        flex-direction: column;
        margin: auto;
        position: absolute;
        bottom:30%;
        height: 15vw;
    }
    .datecontent{
        display: flex;
        flex-direction: column;
        margin-top: 4px;
        margin-left: 8px;
        font-family: 'Poppins', sans-serif;
        position: relative;
        
    }
    .pos{
        position: absolute;
        top:50%;
        font-size: 14px;
    
    }
    
    .check-in label{
        display: flex;
        width:70%;
        height: 17vw;
        justify-content: start;
        align-items: center;
    }
    
    .check-in label img{
        height: 9vw;
        width: 9vw;
        margin-right: 1vw;
    }
    .datecontent input{
        border: 1px solid white;
        cursor: default; 
        outline: none; 
        width: 130px; 
        margin-top: 5px;
    
    }
    .datecontent span{
        margin-top: 5px;
    }
    .check-in{
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1.15rem;
    }
    .borderbottom{
        border-bottom: 1px solid rgb(238, 238, 238);
    }
    .poolbottom{
        display: flex;
        flex-direction: column;
        width: 70vw;
        justify-content: center;
        margin: 0 auto;
        

    }
    .search{
        padding: 0 5%;
        background: black;
        color: white;
        border: none;
        font-family: 'Poppins', sans-serif;
        font-weight: bolder;
        font-size: 15px;
        margin: 1rem 0 0 0;
        width: 100%;
        height: 50px;

    }
    .search:hover{
        border: 2px solid black;
        background: rgba(255, 255, 255, 0.897);
        color: black;
        cursor: pointer;
    
    }
    .section2{
        background: #FBF7F4;
        height: fit-content;
        width: 100%;
        margin-top: 0px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 5rem;
    }
    .mainSecDiv{
        display: flex;
        flex-direction: column-reverse;
        justify-content: space-between;
        width: 100%;
        margin: 2rem 0 2rem 0;
    }
    .mainSecDivLeft{
        height: fit-content;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 100%;
    }
    .mainSecDiv .mainSecDivLeft .rooom{
        height: 370px;
        width: 100vw;
        position: relative;
        display: none;
    }
    .r1{
        display: none;
    }
    .discount{
        position: absolute;
        height: 43%;
        width: 40%;
        background-color: rgba(255, 255, 255, 0.808);
        bottom: 4px;
        border-left: 5px solid #E79434;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        padding-left: 10px;
    
        
    }
    .discount span{
        font-family: 'Poppins', sans-serif;
        width: 226px;
        font-size: 10px;
    }
    .discount span strong{
        font-size: 1.3rem;
    }
    .mainSecDivRight{
        height: fit-content;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 100%;
        margin-bottom: 10vw;
    }
    .facilities{
        width: 100%;
        height: fit-content;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    
    }
    
    .facilitiesContent h2{
        font-size: 5.8vw;
    }
    .facilitiesContent p{
        font-family: 'Poppins', sans-serif;
        font-size: 2vw;
        line-height: 5vw;
        margin-bottom: 3.5vw;
    }
    .facilitiesContent5 h2{
        font-size: 22px;
        margin-bottom: 2rem;  
        text-align: center;
    }
    .facilitiesContent5 p{
        font-family: 'Poppins', sans-serif;
        font-size: 12px;
        line-height: 0.7rem;
        margin-bottom: 2rem;
        text-align: center;
    }
    .itemandbtn{
        width: 99%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }
    .facilitiesbtn button{
        width: 100px;
        height: 50px;
        background-color: transparent;
        border: 0.1vw solid black;
        font-family: 'Poppins', sans-serif;
        font-size: 12px;
        margin: auto;
    }
    .facilitiesbtn button:hover{
        background: black;
        color: white;
        border: none;
        font-family: 'Poppins', sans-serif;
        font-weight: bolder;
        cursor: pointer;
        font-size: 1.1rem;
    }
    .facilitiesItems{
        display: flex;
        justify-content: space-between;
        width: 85%;
        margin: auto;margin-bottom: 3rem;
    }
    .tvled{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .tvled span{
        margin-top: 1rem;
        font-family: 'Poppins', sans-serif;
        font-size: 11px;
        text-align: center;
    }
    .circle{
        height: 15vw;
        width: 15vw;
        border-radius: 50%;
        border: 0.2vw solid #E79434;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 1vw;
    }
    .rotate45deg{
        transform: rotate(45deg);
    }
    .circle img{
        height: 7vw;
        width: 7vw;
    }
    .tvled{
        font-size: 1.2rem;
    }
    .facilitiesbtn{
        display: flex;
        flex-direction: column;
        justify-content: end;
    }
    .centered p{
        text-align: center;
    }
    .section3{
        margin-top: 3rem ;
        margin-bottom: 5rem;
    }
    
    .rectangle{
        height: 10vw;
        width: 100%;
        border: 0.1vw solid black;
        font-family: 'Poppins', sans-serif;
        font-size: 2vw;
    
    }
    .rectangle img{
        height: 4.5vw;
        width: 4.5vw;
        margin-bottom: 1vw;
    }
    .o-restaurant{
        background: #000;
        color: #E79434;
    }
    .services{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        justify-content: space-between;
        width: 95%;
        margin: auto;
        margin-top: 2rem;
        height: 200px;
    }
    .restaurant{
        width: 95%;
        margin: auto;
        margin-top: 3rem;
        display: flex;
        flex-direction: column-reverse;
        justify-content: space-between;
        align-items: center;
    }
    .restaurant p{
        font-size: 12px;
        line-height: 1.3rem;
        text-align: center;
        margin: 0;
        margin-bottom: 2rem;
    }
    .restaurant span {
        text-align: center;
    }
    .restaurant img{
        width: 100%;
        margin-bottom: 2rem;
    }
    .specificities{
        width: 100%;
    }
    .poppinstitle{
        font-family: 'Poppins', sans-serif;
        font-size: 1.3rem;
        margin: auto;
    }
    .centeredcol{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    .section4{
        margin-top: 10rem;
    }
    .section4 h2{
        font-size: 22px;
    }
    .lorem{
        display: flex;
        width: 90%;
        justify-content: space-between;
        font-family: 'Poppins', sans-serif;
        margin-top: 5%;
        display: none;
    }
    .lorem ul{
        list-style: none;
        height: 150px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        font-size: 1.1rem;
    }
    .lorem ul li::before{
        content: "";
        height: 8px;
        border-radius: 50%;
        background-color: #E79434;
        font-weight: bolder;
        display: inline-block;
        width: 8px;
        margin-right: 10px;
    }
    .btnbook{
        display: flex;
        flex-direction: column;
        justify-content: end;
        height: 28%;
        margin-top: 2rem;
        display: none;
    }
    .hiddenbtn{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 28%;
        width: 100px;
        height: 50px;
        background-color: transparent;
        border: 0.1vw solid black;
        font-family: 'Poppins', sans-serif;
        font-size: 12px;
        margin: auto;
    }
    .hiddenbtn:hover{
        background: black;
        color: white;
        border: none;
        font-weight: bolder;
        cursor: pointer;
    }
    .rectangle2{
        height: 45px;
        width: 0%;
        border: 2px solid black;
        font-family: 'Poppins', sans-serif;
        font-size: 1.3rem;
    }
    .services2{
        display: none;
    }
    .o-restaurant2{
        background: rgba(0, 0, 0, 0);
        color: #000000;
    }
    .introrooms{
        margin-top: 0rem;
        font-family: 'Poppins', sans-serif;
        font-size: 2vw;
        width: 100%;
        height: 40%;
        line-height: 3vw;
        color: rgba(0, 0, 0, 0.658);
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .introrooms p{
        margin-bottom: 0rem;
    }
    
    .offeer{
        height: fit-content;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin: auto;
    }
    .offeer p{
        text-align: center;
        margin: auto;
        font-size: 14px;
        line-height: 1.5rem;
        margin-top: 3vw;
    }
    .offeer button{
        margin: 2rem auto;
    }
    .intro p{
        width: 400px;
        display: none;
    }
    .roomsoffers{
        display: flex;
        width: 95%;
        flex-direction: column;
        justify-content: space-between;
        margin: auto;
        margin-top: 4rem;
    }
    .section5{
        background-color: #F6F5F1;
        width: 100%;
        min-height: fit-content;
        margin-top: 17rem;
        padding-bottom: 5rem;
    }
    .mainsecdiv2{
        display: flex;
        width: 95%;
        justify-content: space-between;
        margin: auto;
    }
    .Leftsside{
        display: none;
        
        
    }
    .girlrousse{
        position: absolute;
        right: 0%;
        top: 0%;
    }
    .jacketman{
        position: absolute;
        left: 0%;
        bottom: -11%;
    }
    .bald{
        position: absolute;
        left: -91%;
        top: 42%;
    }
    .Rightsside{
        margin-top: 3rem;
    }
    .facilitiesContent2{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .facilitiesContent2 h2{
        font-size: 22px;
        text-align: center;
        margin-bottom: 2rem;
    }
    .facilitiesContent2 p{
        font-family: 'Poppins', sans-serif;
        font-size: 1.2rem;
        
    }
    .introrooms2{
        font-family: 'Poppins', sans-serif;
        font-size: 1.2rem;
     
        line-height: 2rem;
        color: rgba(0, 0, 0, 0.658);
    }
    .introrooms2 p{
        margin-bottom: 1.5rem;
        width: 100%;
        line-height: 2rem;
        font-size: 16px;
        text-align: center;
    }
    .name{
        font-family: 'Poppins', sans-serif;
        font-size: 1.3rem;
    }
    .bottomavis{
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        width: 83%;
        align-items: center;
        text-align: center;
    }
    .bottomavis2{
        display: flex;
        justify-content: space-between;
        margin: auto;
    }
    .bottomavis2 img{
        height: 17px;
        width: 17px;
        margin-right: 7px;
        margin-top: 32px;
    }
    .leftswitch{
        height: 30px;
        width: 33px;
        border: 2px solid rgba(0, 0, 0, 0.322);
        font-family: 'Poppins', sans-serif;
        font-size: 1.3rem;
    }
    .rightswitch{
        height: 30px;
        width: 33px;
        border: 2px solid rgba(0, 0, 0, 0.322);
        font-family: 'Poppins', sans-serif;
        font-size: 1.3rem;
        background-color: #000;
        margin-left: 7px;
    }
    .switch{
        margin-top: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 81%;
    }
    .rightswitch img{
        height: 25px;
        width: 38px;
    }
    .leftswitch img{
        height: 25px;
        width: 38px;
        transform: rotate(180deg);
    }
    .blackside{
        width: 100vw;
        min-height: 350px;
        background: #000;
        padding-left: 0rem;
        padding-top: 0rem;
        padding-bottom: 4rem;
    }
    .circle2{
        height: 50px;
        width: 50px;
        border-radius: 50%;
        border: 3px solid #ffffff;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .circle2 img{
        height: 25px;
        width: 25px;
    }
    .circle3{
        height: 50px;
        width: 50px;
        border-radius: 50%;
        background-color: #ffffff;
        border: 3px solid #ffffff;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .circle3 img{
        height: 25px;
        width: 25px;
    }
    .smedias{
        width: 200px;
        display: flex;
        justify-content: space-between;
        margin: 2rem 0 2rem 2.5%  ;
    }
    .links{
        display: flex;
        color: #a1a1a1;
        list-style-type: none;
        width: 95%;
        justify-content: space-between;
        margin:auto;
        
    }
    .links ul{
        list-style-type: none;
        line-height: 1rem;
        font-size: 13px;
        font-family: 'Poppins', sans-serif;
        width: 33%;
    
    }
    .links ul li{
        line-height: 2rem;
    }
    .links span{
        font-weight: bold;
        color: #ffffff;
    }
    .hidden{
        display: none;
    }
    footer{
        background-color: #F6F5F1 ;
        display: flex;
        flex-direction: column-reverse;
    }
    .transpsidefooter{
        padding-left: 0rem;
        width: 100vw;
        margin-bottom: 4rem;
    }
    .transpsidefooter h2{
        text-align: center;
        font-size: 22px;
        width: 100%;
    }
    .transpsidefooter p{
        text-align: center;
        font-size: 16px;
        margin: 1.5rem 0;
    }
    .facilitiesContent3 h2{
        font-size: 22px;
        margin-bottom: 2rem;  
        text-align: center;
    }
    .facilitiesContent3 p{
        font-family: 'Poppins', sans-serif;
        font-size: 1rem;
        line-height: 0.7rem;
        margin-bottom: 2rem;
        text-align: center;
    }
    .form{
        display: flex;
        justify-content: flex-start;
        padding-right: 0px;
        margin-top: 2vw;
    }
    .rectangle3{
        height: 10vw;
        width: 45%;
        border: 2px solid black;
        font-family: 'Poppins', sans-serif;
        font-size: 3vw;
        margin-right: 2vw;
    }
    .rectangle3 input{
        width: 95%;
        height: 95%;
        background-color: transparent;
        border: none;
        outline: none;
        text-align: center;
        font-size: 3vw;
        font-family: 'Poppins', sans-serif;
    }
    .rectangle3 input::placeholder{
        font-size: 3vw;
        font-family: 'Poppins', sans-serif;
        color: black;
    }
    .mt-2{
        margin-top: 2rem;
    }
    .gp1{
        display: none;
        right: 2%;
        top: 715%;
        position: absolute;
        width: 210px;
        height: 150px;
        transform: rotate(-30deg);
        border-radius: 50px;
        opacity: .10;
        filter: blur(38px);
        background: rgb(255,248,90);
        background: radial-gradient( rgb(90, 255, 255) 0%, rgb(112, 198, 224) 80%, rgba(255,2,169,0.9547991071428571) 45%);
    }
    .gp2{
        display: none;
        right: 2%;
        top: 450%;
        position: absolute;
        width: 250px;
        height: 150px;
        transform: rotate(-30deg);
        border-radius: 50px;
        opacity: .10;
        filter: blur(38px);
        background: rgb(255,248,90);
        background: radial-gradient( rgb(90, 255, 255) 0%, rgb(112, 198, 224) 80%, rgba(255,2,169,0.9547991071428571) 45%);
    }
    .gp3{
        display: none;
        left: 0%;
        top: 480%;
        position: absolute;
        width: 190px;
        height: 110px;
        transform: rotate(-45deg);
        border-radius: 50px;
        opacity: .25;
        filter: blur(38px);
        background: rgb(255,248,90);
        background: radial-gradient( rgb(90, 255, 255) 0%, rgb(112, 198, 224) 80%, rgba(255,2,169,0.9547991071428571) 45%);
    }
    .gp4{
        display: none;
        left: 2%;
        top: 315%;
        position: absolute;
        width: 250px;
        height: 150px;
        transform: rotate(-30deg);
        border-radius: 50px;
        opacity: .10;
        filter: blur(38px);
        background: rgb(255,248,90);
        background: radial-gradient( rgb(90, 255, 255) 0%, rgb(112, 198, 224) 80%, rgba(255,2,169,0.9547991071428571) 45%);
    }


.container{
  width: 70%;
  margin: 1rem auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 330px;
  position: relative;    
}

.image{
  display: none;
  position: relative;
  width: 95%;
}

/* Next & previous buttons */
#prev{  
  position: absolute;
  top: 37%;
  left:5%;
  cursor: pointer;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 1rem;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

#next{
  position: absolute;
  top:37%;
  right: 5%;
  cursor: pointer;
  padding: 16px;
  color: #fff;
  font-weight: bold;
  font-size: 1rem;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

#prev:hover, #next:hover {
  background: rgba(0, 0, 0, 0.5);
} 

.dots{
  text-align: center;
  margin-top: 2rem;
}

.dot{
  display: inline-block;
  height: 10px;
  width: 10px;
  margin: 0 7px;
  background-color: #bbb;
  border-radius: 50%;
  /* transition from one do to the next */
  transition: background-color 0.6s ease;
}

/* We create this class with JavaScript. It makes the current dot darker gray */
.active{
  background-color: transparent;
} 

/* create fade animation when switching between images */
.fade{
/* Animation support for different browsers */
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}

@keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
} 

@media(max-width:768px){
    .container{
        width: 100%;
    }
}

}



.tabs {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    width: 95%;
  }
  .tabs1 {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    width: 62vw;
  }
  .tabs li {
    width: 100%;
    padding: 10px;
    cursor: pointer;
    transition: 0.2s;
  }
  .tabs1 li {
    width: 100%;
    padding: 10px;
    cursor: pointer;
    transition: 0.2s;
  }
  .tabs li .rectangle.active,
  .tabs li .rectangle:hover {
    background: #000;
        color: #E79434;
  }
  .tabs1 li .rectangle2.active,
  .tabs1 li .rectangle2:hover {
    background: #000;
        color: #ffffff;
  }
  .content {
    width: 100%;
    display: flex;
      flex-direction: column;
      align-items: center;
      height: fit-content;
  }
  .content > div {
    padding: 20px;
  }
  .content > div:not(:first-child) {
    display: none;
  }
  .content1 {
    width: 100%;
    display: flex;
      flex-direction: column;
      align-items: center;
      height: fit-content;
  }
  .content1 > div {
    padding: 20px;
  }
  .content1 > div:not(:first-child) {
    display: none;
  }
  .section3prime{
      display: flex;
      flex-direction: column;
      align-items: center;
  }
  .section4prime{
    display: flex;
    flex-direction: column;
    align-items: center;
}
